:root,
:root.theme1 {
  --bg-color: #184A45;
  --item-color: #b0b8b4;
  --select-color: #FC766A;
}
:root.theme3 {
  --bg-color: rgb(0, 0, 0);
  --item-color: rgb(72, 85, 109);
  --select-color: rgb(83, 146, 82);
}
:root.theme2 {
  --bg-color: rgb(125, 185, 220);
  --item-color: rgb(33, 106, 190);
  --select-color: rgb(34, 34, 181);
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.title-logo {
  display: flex;
  margin-top: 4vmin;
}

.App-logo-container {
  height: min(4vh, 6vmin);
  width: min(4vh, 6vmin);
}

.App-logo {
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: var(--bg-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.App-logo-border {
  background-color: var(--item-color);
  height: 100%;
  width: 100%;
  padding: 18.75%;
}

.App-logo-inner1 {
  position: absolute;
  top: 40.625%;
  left: -12.5%;
  height: 18.75%;
  width: 125%;
  background-color: var(--item-color);
}
.App-logo-inner2 {
  position: absolute;
  top: -12.5%;
  left: 40.625%;
  height: 125%;
  width: 18.75%;
  background-color: var(--item-color);
}

.App-logo-inner1-inner1 {
  position: absolute;
  top: -100%;
  left: -12.5%;
  height: 100%;
  width: 90%;
  background-color: var(--bg-color);
}
.App-logo-inner1-inner2 {
  position: absolute;
  top: 100%;
  left: 30%;
  height: 100%;
  width: 80%;
  background-color: var(--bg-color);
}
.App-logo-inner2-inner1 {
  position: absolute;
  top: -7%;
  left: 100%;
  height: 40%;
  width: 100%;
  background-color: var(--bg-color);
}
.App-logo-inner2-inner2 {
  position: absolute;
  top: 70%;
  left: -100%;
  height: 40%;
  width: 100%;
  background-color: var(--bg-color);
}

#title {
  margin-left: min(3vh, 4vmin);
  margin-top: -.5vmin;
  font-size: min(6vh, 9vmin);
  font-weight: bolder;
  color: var(--item-color);
  font-family: sans-serif;
}

#board {
  display: grid;
  gap: min(1.7vh, 2.143vmin);
  grid-template-columns: repeat(3, 1fr);
  margin-top: min(1.5vh, 3vmin);
}

#setting {
  background-color: var(--item-color);
  height: calc(min(1.7vh, 2.143vmin)*2 + min(23vh, 29vmin)*3);
  width: calc(min(1.7vh, 2.143vmin)*2 + min(23vh, 29vmin)*3);
  margin-top: min(1.5vh, 3vmin);
  border-radius: 3%;
  color: var(--bg-color);
  font-size: 5vmin;
}

.theme{
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 80%;
  height: 8%;
}

.theme-con {
  margin: 0 auto;
  border-radius: 50%;
  width: 10%;
  height: 100%;
  border: solid 2px var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#restart {
  width: 9%;
  height: 90%;
  padding: .5%;
}

#reswon {
  margin-top: 7%;
  width: 17%;
  height: 17%;
}

.winpage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 150%;
  font-weight: bolder;
  font-family: tanha;
}
#winner {
  font-family: sans-serif;
}


#brush {
  width: 70%;
  height: 70%;
}

#theme1 {
  background-color: #b0b8b4;
}
#theme2 {
  background-color: rgb(33, 106, 190);
}
#theme3 {
  background-color: rgb(72, 85, 109);
}


@font-face {
  font-family: tanha;
  src: url(fonts/tanha.woff);
}

@font-face {
  font-family: dosis;
  src: url(fonts/dosis.ttf);
}

.game-level {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10%;
  margin-top: 8%;
  height: 35%;
  
}

.game-level button {
  flex: 1;
  padding: 2%;
  margin: 1% 3%;
  background-color: var(--bg-color);
  color: var(--item-color);
  border: none;
  border-radius: 1vmin;
  font-size: 60%;
  font-family: tanha;
  
}

#eng {
  font-family: dosis;
}

.language {
  /* flex-direction: row; */
  margin-top: 2%;
  height: calc(70%/3);
  /* margin-left: 5%;
  margin-right: 5%; */
}

.setting-content {
  margin: 14% auto 0% auto;
}

.cell {
  position: relative;
  background-color: var(--item-color);
  color: var(--bg-color);
  font-size: calc(1.6vmin + 5px);
  width: min(23vh, 29vmin);
  height: min(23vh, 29vmin);
  border-radius: 4%;
}
.cell span {
  position: absolute;
  bottom: 1.3vmin;
  left: 2vmin;
}


.cell-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: min(10vh, 13vmin);
  font-weight: bolder;
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  color: var(--item-color);
}

.App-link {
  color: #61dafb;
}

.buttons {
  width: 65vmin;
}

.bottombuttons {
  margin-top: 1vmin;
  margin-bottom: 3vmin;
}

.but {
  background-color: var(--item-color);
  height: 5vmin;
  width: 16vmin;
  font-size: 3vmin;
  color: var(--bg-color);
  border: 0;
  margin: 2vmin 1vmin 0vmin 1vmin;
  border-radius: 1vmin;
}

.icon {
  height: min(5vh,8vmin);
  width: min(5vh,8vmin);
  color: var(--item-color);
  margin: min(2vh,3vmin) min(1.2vh,2vmin) 0vmin min(1.2vh,2vmin);
}

@media (hover: hover) and (pointer: fine) {
  .but:hover {
    background-color: var(--select-color);
  }
  .icon:hover {
    color: var(--select-color);
    transform: scale(1.2);
    transition: .4s;
  }
  .theme-con:hover {
    transform: scale(1.1);
    border-color: var(--select-color);
    color: var(--select-color);
    transition: .4s;
  }
  .game-level button:hover {
    transform: scale(1.03);
    background-color: var(--select-color);
    color: var(--bg-color);
    transition: .4s;
  }
  .cell:hover {
    background-color: var(--select-color);
    transition: .1s;
  }
  #reswon:hover {
    animation: App-logo-spin infinite 1s linear;
    color: var(--select-color);
    transition: .3s;
  }
}


/* #ipbut::first-letter {
  font-size: 1.8vmin;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 17s linear;
  }
  #setting {
    animation: setting-scale .5s;
  }

  #board {
    animation: setting-scale .5s;
    animation: none;
  }
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes setting-scale {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .cell span {
    display: none;
  }
  .language {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
  .language button {
    width: 100%;
    /* height: 5%; */
    /* margin: 2%; */
  }
  .language button:first-child {
    margin-right: 2.2%;
  }
  .language button:nth-child(2) {
    margin-left: 2.2%;
  }
  .game-level {
    height: 45%;
  }
  .game-level button {
    align-items: stretch;
    margin: 2% 3%;
  }
  .language {
    height: calc(40%/3);
    margin-top: 2%;
  }
  .game-level button {
    font-size: 95%;
  }
  .language button {
    font-size: 80%;
  }
  .winpage-content {
    font-size: 190%;
  }
}