:root,
:root.theme1 {
  --bg-color: #184A45;
  --item-color: #b0b8b4;
  --select-color: #FC766A;
}
:root.theme2 {
  --bg-color: #28334AFF;
  --item-color: #F65058FF;
  --select-color: #FBDE44FF;
}
:root.theme3 {
  --bg-color: #D3D0CBFF;
  --item-color: rgb(27, 113, 159);
  --select-color: rgb(56, 131, 36);
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.title-logo {
  display: flex;
  margin-top: 4vmin;
}

.App-logo {
  height: 4vmin;
  width: 4vmin;
  pointer-events: none;
  background-color: transparent;
  border-radius: 50%;
  border: .75vmin solid var(--item-color);
  justify-content: center;
  align-items: center;
}

#title {
  margin-left: 1.7vmin;
  margin-top: -.5vmin;
  font-size: 6vmin;
  font-weight: bolder;
  color: var(--item-color);
  font-family: sans-serif;
}

.App-logo-inner1 {
  position: absolute;
  top: 1.625vmin;
  left: -.5vmin;
  height: .75vmin;
  width: 5vmin;
  background-color: var(--item-color);
}
.App-logo-inner2 {
  position: absolute;
  top: -.5vmin;
  left: 1.625vmin;
  height: 5vmin;
  width: .75vmin;
  background-color: var(--item-color);
}

.App-logo-inner1-inner1 {
  position: absolute;
  top: -.75vmin;
  left: -.5vmin;
  height: .75vmin;
  width: 4vmin;
  background-color: var(--bg-color);
}
.App-logo-inner1-inner2 {
  position: absolute;
  top: .75vmin;
  left: 1.5vmin;
  height: .75vmin;
  width: 4vmin;
  background-color: var(--bg-color);
}
.App-logo-inner2-inner1 {
  position: absolute;
  top: -1vmin;
  left: .75vmin;
  height: 2vmin;
  width: .75vmin;
  background-color: var(--bg-color);
}
.App-logo-inner2-inner2 {
  position: absolute;
  top: 3.5vmin;
  left: -.75vmin;
  height: 2vmin;
  width: .75vmin;
  background-color: var(--bg-color);
}

#board {
  display: grid;
  gap: 1.7vmin;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5vmin;
}

.cell {
  position: relative;
  background-color: var(--item-color);
  color: var(--bg-color);
  font-size: 2vmin;
  width: min(23vh, 27vmin);
  height: min(23vh, 27vmin);
}
.cell span {
  position: absolute;
  bottom: 1.3vmin;
  left: 2vmin;
}


.cell-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vmin;
  font-weight: bolder;
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  color: var(--item-color);
}

.App-link {
  color: #61dafb;
}

.buttons {
  width: 65vmin;
}

.bottombuttons {
  margin-top: 1vmin;
  margin-bottom: 3vmin;
}

.but {
  background-color: var(--item-color);
  height: 5vmin;
  width: 16vmin;
  font-size: 3vmin;
  color: var(--bg-color);
  border: 0;
  margin: 2vmin 1vmin 0vmin 1vmin;
  border-radius: 1vmin;
}

.icon {
  height: 5vmin;
  width: 5vmin;
  color: var(--item-color);
  margin: 2vmin 1vmin 0vmin 1vmin;
}

@media (hover: hover) and (pointer: fine) {
  .but:hover {
    background-color: var(--select-color);
  }
  .icon:hover {
    color: var(--select-color);
    transform: scale(1.2);
    transition: .4s;
  }
  .cell:hover {
    background-color: var(--select-color);
  }
}


/* #ipbut::first-letter {
  font-size: 1.8vmin;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

